body {
    font-family: 'Roboto', sans-serif;
    background-color: #F5F6FA;
    margin: 0;
    padding: 20px;
    color: #333333;
}

.logo-link {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    color: #4A90E2;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 5px;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

p {
    margin: 5px 0;
    line-height: 1.6;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333333;
}

.form-group input {
    width: calc(100% - 22px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.form-group input:focus {
    border-color: #4A90E2;
    outline: none;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.3);
}

.language-selector {
    margin: 10px;
    display: inline-block;
}

#language-select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#language-select:hover {
    border-color: #888;
}

#language-select:focus {
    border-color: #4A90E2;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

#language-select option {
    background-color: #fff;
    color: #333;
    font-size: 16px;
}

.btn {
    background-color: #4A90E2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #357ABD;
}

.btn-link {
    color: #4A90E2;
    text-decoration: none;
}

.btn-link:hover {
    text-decoration: underline;
}

/* Style pour les messages d'erreur */
.error-message {
    color: #D9534F;
    font-size: 14px;
    margin-top: 5px;
    text-align: left;
}

@media (max-width: 600px) {
    .container {
        margin: 20px;
        padding: 15px;
    }

    .form-group input {
        width: calc(100% - 20px);
    }
}